// Header

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;

  .container.main-nav {
    display: flex;
    align-items: center;

    //  Main nav

    .main-nav {
      display: flex;
      align-items: center;
    }
  }
}

// Logo

.logo {
  font-family: $logo-font;
  color: $accent-color;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  .primary-color {
    color: #000000;
  }
}

// Site nav

.site-nav {
  display: flex;
  margin-left: 85px;

  .item:not(:last-child) {
    margin-right: 50px;
  }

  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &.current {
      color: $accent-color;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
      }
    }
  }
}

// Auth-nav

.auth-nav {
  display: flex;
  margin-left: auto;

  & .item + .item {
    margin-left: 30px;
  }

  & .link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    text-decoration: none;

    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    .link-icon {
      display: block;
      margin-right: 10px;
      fill: $primary-text-color;

      @include transition(fill);
    }

    &:hover .link-icon,
    &:focus .link-icon {
      fill: $accent-color;
    }
  }

  .item:nth-child(1) .link-icon {
    width: 16px;
    height: 12px;
  }
}
